/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 1rem;
    box-sizing: border-box;
}

/********** Header Desktop *************/
.header{
    
    display: flex;
    align-items: center;
    max-width: 1440px;
    margin: auto;
    flex-wrap: wrap;
}
#logo{
    margin-right: auto;
    padding: 1rem 2rem 2rem 1rem;
}
.headerNavLink{
    padding:1.25rem 2rem 1rem 2rem;
    font-weight: 500;
    text-align: center;
    margin: auto
    
    }
  .headerNavLink:hover{
    color: #0065FC;
    border-top: 2px solid #0065FC;
  }
  main .search-header-title {
    margin-bottom: 0.5rem;
  }
   main .search-header-subtitle {
    margin-top: 0;
    margin-bottom: 2rem;
}
  

  /************ Header Mobile ****************/

  @media screen and (max-width: 768px) {

   .headerNav {
        display: flex;
        align-items: center;
        grid-area: navbar;
    }
    
    .headerNavLink{
        padding: 1rem 3rem 1rem 1rem;
        font-size: 20px;
    }
    nav {
        display: block;
    }
    .headerNavLink:hover{
        color: #0065FC;
        border-bottom: 1px solid #0065FC;
        border-top: none;
      }
      
}
  /********* SEARCH FORM DESKTOP ************/
.search-form{
    display: flex;
}
.search-form .map-icon {
    padding:1rem 1.2rem;
    background-color:#F2F2F2 ;
    border-radius: 1rem 0 0 1rem;
    }
    .map-icon {
    color: black;
    }
    .search-form input{
    padding-right:2rem;
    padding-left: 2rem;
    border:1px solid #F2F2F2;
    }
    .search-form input::placeholder{ 
      font-weight: bold;
      color: inherit; 
      font-size: 1.2rem; 
    }
    .search-form button{
        background-color: #0065FC;
        color: white;
        font-size: 1rem;
        font-weight: bold;
        border-radius: 0 1rem 1rem 0;
        padding-right: 1rem;
        padding-left: 1rem;
        border: 1px solid #0065FC;
        display: flex;
        align-items: center;
     }
     

       .search-form .search-icon{
       display: none;
       
       
        
    }
     
     /****** SEARCH FORM MOBILE ********/

     @media screen and (max-width:768px) { 

        .search-form .search-text {
        display: none;
        }
        .search-form .search-icon {
            display: block;
            color: white;
            font-weight: bold;
            border: none;
            border-radius: 0 1rem 1rem 0;
        }
        .search-form input {
            padding-left: 1rem;
            padding-right: 1rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
    }
    /************ FILTERS DESKTOP********* */
    
    .filter-list{
        display: flex;
        align-items: center;
        gap:1rem 1rem;
        flex-wrap: wrap;
        margin-top: 2.5rem;
        margin-bottom: 1rem;
    }
   .filter-list h2{
        margin:0 0 1rem 0;
        display:flex;
        align-items: center;
   }
    .fas.fa-money-bill-wave{
        color:#0065FC;
        padding: 1rem;
        padding-right:1rem;
        border-radius: 50%;
        margin:0;
        }
   .fa-solid.fa-person.fa-lg{
        color:#0065FC;
        padding: 1.47rem;
        padding-right:0.8rem;
        border-radius: 50%;
        margin:0;
            
        }
     .fas.fa-heart{
        color:#0065FC;
        padding: 1rem;
        padding-right:1rem;
         border-radius: 50%;
        margin:0;
          }      
     .fa-solid.fa-fire{
         color:#0065FC;
         padding: 1rem;
         padding-right:1rem;
         border-radius: 50%;
         margin:0;
        }
    .filter span{
        font-weight: bold;
        padding: 1rem;
        padding-left: 0;
    }
    .filter:hover{
        background-color: #DEEBFF;
    }
    
    .filter{
        border:2px solid #d9d9d9; 
        border-radius: 2rem;
        margin-bottom: 1rem;
    }
    /*********** FILTERS MOBILE *************/
    @media (max-width:768px){
        .filter-list{
            gap: 1rem 5rem;
        }
    }
    /********** INFO BAR********** */
    .info-bar {
        display:flex;
        align-items:center;
        gap: 1rem;
        margin-bottom: 1.5rem;
    }
    .info-bar .fas{
        width:1.8rem;
        height:1.8rem;
        border: 1px  solid #d9d9d9;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #0065FC;
        flex-wrap: wrap;
        min-height: 2rem;
        min-width: 2rem;
        
    }

    a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.16));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires desktop***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}
/************* HEBERGEMENTS ET POPULAIRE TABLET/MOBILE *********/


@media (max-width: 768px) {
    .hebergements-and-populaires {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2.5rem;
    }

    .hebergements-and-populaires section {
        width: 100%; 
        
    }
}

@media (max-width: 480px) {  
    .hebergements-and-populaires {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2.5rem; 
    }

    .hebergements-and-populaires section {
        width: 100%;
    }

}

@media (max-width: 1024px){  
.hebergements-and-populaires {
    flex-direction: column;
    gap: 2.5rem;
}
}
/****** HEBERGEMENTS DESKTOP ***********/
.hebergements {
    width: 65%;
    margin: 0;
    }
.hebergements-cards {
    display: grid;
    column-gap: 1.2rem;
    row-gap: 2.5rem;
    grid-template-columns: repeat(3, 1fr);
    
}

.hebergements-cards .card  {
    width: 100%;
    margin-bottom: 0;
    box-sizing: border-box;
  }

.hebergements-cards img {
    width: 100%;
    height: 7rem;
    border-radius: 1rem 1rem 0 0;
    object-fit: cover;
    padding: 0;
}

.hebergements-cards .card-content {
    width: 15rem;
    padding-left: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 0;
    margin-bottom: 0.4rem;
}

.hebergements-cards .card-subtitle {
    margin-bottom: 0.2rem;
    margin-top: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}
.hebergements-title{
    margin-bottom: 2rem;
}
 .hebergements .hosting-view-more{
    font-weight: bold;
}    
.card-txt{
    width: 100%;
    }

/********** HEBERGEMENT MOBILE/TABLET********* */

@media (max-width: 1024px) {
    .hebergements-cards {
        grid-template-columns: repeat(2, 1fr); 
    }
}
@media (max-width: 480px) {
    .hebergements-cards {
        grid-template-columns: 1fr; 
    }

    .hebergements-cards .card {
        width: 100%; 
    }
    .hebergements-cards img{
        width: 100%;
        height: 7rem;
        object-fit: cover;
    }
    
}


/************** POPULAIRES ***********/

.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/*********** POPULAIRE TABLET/MOBILE********** */



@media (max-width: 1024px) {
   
    .populaires{
        width: 100%;
    }

    .hebergements {
        width: 100%;
        order: 2;
    }

    .populaires {
        width: 100%;
        margin-top: 20px;
        order: 1;
    }

    .populaires-cards {
        flex-direction: column;
        margin-top: 0;
    }
    .populaires-cards .card{
        margin-top: 20px;
    }

    .populaires-cards a {
        width: 100%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/*************ACTIVITY DESKTOP*************/

.activity{
    display: grid;
    column-gap: 2rem;
    margin: 4rem 0;
    grid-template-columns: repeat(4, 1fr);
    
}
.activity-title{
    grid-column: 1/-1;
    padding-bottom: 0.5rem;
}
.activity-card{
     filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.13));
     background-color: white;
     border-radius: 1.5rem;
     overflow: hidden;
     display: flex;
     flex-direction: column;
     grid-row: 2/7;
}
.activity-card-image{
    
    height: 25rem;
    width: 100%;
    object-fit: cover;
}
.activity-card-title { 
    margin: 1.2rem 1.5rem;

}
/* ********ACTIVITY MOBILE/TABLET********* */


@media (max-width: 1024px) {
    .activity {
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: auto; 
        row-gap: 2rem;
        justify-content: center;
        align-items: center;
    }

    .activity-card {
        grid-row: auto; 
    }

    .activity-card-image{
        height: 10rem;
        width: 100%;
        object-fit: cover;
    }
}

@media (max-width: 480px) {
    .activity {
        grid-template-columns: 1fr;
        row-gap: 2rem;
        justify-content: center;
        align-items: center;
        
    }
    .activity-card {
        grid-row: auto; 
    }
    
    .activity-card-image {
        height: auto; 
        width: 100%;
        height: 9rem;
        object-fit: cover;
    }
}

/* *******FOOTER DESKTOP********* */

.footer-columns{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    max-width: 100%;
    width: 1440px;
    margin:auto;
    padding: 0 2rem 0.5rem 2rem;
    box-sizing: border-box;
    background-color:#F2F2F2;
}
.footer-column{
    display: flex;
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
    
}
.footer-column-titles{
    padding: 0;
}
.footer-links{
    padding: 0.5rem 0;
}
/******* FOOTER MOBILE/TABLET VERSION **********/

/* FOOTER TABLET VERSION */
@media (max-width: 768px) {
    .footer-columns {
        grid-template-columns: 1fr; 
    }
}

/* FOOTER MOBILE VERSION */
@media (max-width: 480px) {
    .footer-columns {
        grid-template-columns: 1fr; 
    }
}

